/* COLORS 
    #FDF0D5
    #C6D8D3 Yellow
    #D81E5B Pink
    #3A3335 DarkGrey
    #EB5E55 Orange
        #EC6C64 Light Orange
*/

/* INDEX
    TAGS
    BASE ELEMENTS
    LAYOUT
    SPECIFICS
    IMAGES
    MEDIA QUERIES
    HELPER CLASSES
*/

/* TAGS */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #FDF0D5;
  font-family: sans-serif;
  color: #3A3335;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
  width: 100%;
  margin: 0 auto;
}
button, input {
  border-width: 0;
  border-style: none;
  padding: 0;
  outline: none;
}
input[type="button"] {
  border-width: 0;
  border-style: none;
  padding: 0;
  outline: none; 
  background: transparent;
}

/* BASE ELEMENTS */
.unordered-list {
    padding-left: 0;
}
.unordered-list-item {
    list-style-type: none;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 200px;
}
.input {
  font-size: 20px;
  border-width: 0;
  border-style: none;
  background: transparent;
  border-bottom: 2px solid #EB5E55;
  padding: 8px 8px 4px;
  margin-bottom: 30px;
  width: 60%;
  text-align: center;
}

.button,
input[type="button"] {
    padding: 10px 20px;
    background: #EB5E55;
    color: white;
    width: 100%;
}

/* LAYOUT */
.body-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.unit-container {
    MIN-height: 90vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color: #FDF0D5;
    padding: 10px;
    align-items: center;
}

.unit-container:nth-child(even) {
    background: #E6DBC2;
}
.logo-container {
    display: flex;
    justify-content: center;
}

.section-heading {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-heading-span {
    font-size: 26px;
}

.answer {
    transition: .5s;
    text-align: center;
    color: #3A3335;
    margin-top: 0;
    margin-bottom: 0;
}
.answer:first-child {
    font-size: 60px;
    font-weight: bold;
    width: 90vw; 
    margin: 0 auto;
    font-size: 10vw;
}
/* SPECIFICS */

/* IMAGES */
.logo {
    fill: #666;
    stroke: #333;
    stroke-width: 3;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
    /* for laters */
}

/*  HELPER CLASSES  */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.animate {
     opacity: 0; 
    animation: hej .4s .2s linear forwards;
}
@-webkit-keyframes hej {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}